= form_for(@user) do |f|
  - if @user.errors.any?
    #error_explanation
      %h2
        = pluralize(@user.errors.count, "error")
        prohibited this user from being saved:
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :username
    %br/
    = f.text_field :username
  .field
    = f.label :firstname
    %br/
    = f.text_field :firstname
  .field
    = f.label :name
    %br/
    = f.text_field :name
  .field
    = f.label :email
    %br/
    = f.text_field :email
  .field
    = f.label :adress
    %br/
    = f.text_field :adress
  .field
    = f.label :zip_code
    %br/
    = f.number_field :zip_code
  .field
    = f.label :city
    %br/
    = f.text_field :city
  .field
    = f.label :country
    %br/
    = f.text_field :country
  .field
    = f.label :image
    %br/
    = f.file_field :image
  .field.hidden
    = f.label :role
    %br/
    = f.number_field :role
  .field
    =f.label :birthdate
    %br/
    = f.date_select :birthdate, :order => [:day, :month, :year],
          :end_year => 100.years.ago.year, :start_year => 16.years.ago.year,
          prompt: { day: 'Day', month: 'Month', year: 'Year' }
  .actions
    = f.submit "Submit", class: "btn btn-up btn-primary"