.row.title-page
  .col-sm-9
    %h1 Listing Users
  .col-sm-3
    = link_to 'New User', new_user_path, class: "btn-up btn btn-success"
.row
  .col-xs-12
    %table.table
      %tr
        %th Username
        %th Email
        %th Adress
        %th Country
        %th Role
        %th
        %th
        %th
        %th
      - @users.each do |user|
        %tr
          %td= user.username
          %td= user.email
          %td= user.full_address
          %td= user.country
          %td
            - if user.role == 0
              Gamer
            - if user.role == 1
              Admin
          %td= link_to 'Show', user, class: "btn-up btn btn-primary"
          %td= link_to 'Edit', edit_user_path(user), class: "btn-up btn btn-warning"
          - if user.role==1
            %td= link_to 'Unmake Admin', "/users/" + user.id.to_s + "/unmake_admin", class: "btn-up btn btn-info"
          -else
            %td= link_to 'Make Admin', "/users/" + user.id.to_s + "/make_admin", class: "btn-up btn btn-info"
          %td= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn-up btn btn-danger"