= form_for(@tournament) do |f|
  - if @tournament.errors.any?
    #error_explanation
      %h2
        = pluralize(@tournament.errors.count, "error")
        prohibited this tournament from being saved:
      %ul
        - @tournament.errors.full_messages.each do |msg|
          %li= msg
  .form-group
    .input-group
      .input-group-addon
        %i.fa.fa-tag{"aria-hidden" => "true"}
      = f.text_field :name, class: "form-control", placeholder: "Name"
  .form-group
    .input-group
      .input-group-addon
        %i.fa.fa-map-marker{"aria-hidden" => "true"}
      = f.text_field :adress, class: "form-control", placeholder: "Address"
  .form-group
    .input-group
      .input-group-addon
        %i.fa.fa-align-left{"aria-hidden" => "true"}
      = f.text_area :description, class: "form-control", placeholder: "Description"
  .form-group
    .input-group
      .input-group-addon
        %i.fa.fa-calendar{"aria-hidden" => "true"}
      = f.datetime_select :date, class: "form-control", placeholder: "Date", with_css_classes:"form-control"
  .form-group
    .input-group
      .input-group-addon
        %i.fa.fa-calculator{"aria-hidden" => "true"}
      = f.number_field :max_gamers, class: "form-control", placeholder: "Max. Gamers"
  .actions
    = f.submit "Send", class: "btn btn-primary"