.wide
  .blur= image_tag "gamer_table.JPG", style: "width: 100%;top:100px;left:0;"

.row.title-page
  .col-sm-9
    %h1= @tournament.name
  .col-sm-3
    = link_to 'Edit', edit_tournament_path(@tournament), class: "btn-up btn btn-primary"
.row
  %b.col-sm-3 Date :
  .col-sm-9= @tournament.date.day.to_s + "/" + @tournament.date.month.to_s + "/" + @tournament.date.year.to_s
.row
  %b.col-sm-3 Location :
  .col-sm-9= @tournament.adress
.row
  %b.col-sm-3 Description :
  .col-sm-9= @tournament.description
.row
  %b.col-sm-3 Gamers max:
  .col-sm-9= @tournament.max_gamers
.row
  .col-sm-12
    %h1 Games :
.row
  - if @games.any?
    %br/
    -i=0
    - (@games.size / 4 + 1).times do |row|
      .row
      - 4.times do |col|
        -if !@games[i].nil?
          .col-md-3.text-center.game
            .row= link_to (image_tag @games[i].image.url(:thumb)), tournament_url(@tournament)+game_path(@games[i]), class: "game"
            .row= link_to @games[i].name, tournament_url(@tournament)+game_path(@games[i]), class: "game"
            - if !current_user.programs.where(tournament_id: @tournament.id).where(game_id: @games[i].id).exists?
              .row= link_to 'Subscribe', tournament_url(@tournament)+game_path(@games[i]) + '/subscribe', class: "btn-up btn btn-primary"
            -else
              .row= link_to 'Unsubscribe', tournament_url(@tournament)+game_path(@games[i]) + '/unsubscribe', class: "btn-up btn btn-primary"
          - i+=1
  - else
    .col-sm-9 No games to show
.row
  .col-sm-12
    %h1 Users Subscribben :
- if @users.any?
  - @users.each do |user|
    .row
      .col-sm-5.text-center
        %h3= link_to user.username, user
      - user.registrations.each do |r|
        - if r.program.tournament == @tournament
          .col-sm-2.text-center
            = link_to r.program.game.name, tournament_url(@tournament)+game_path(r.program.game), class: "game"
-else
  .row
    .col-sm-12.text-center
      %h3 No User Subscribed yet
.row
  .col-xs-2= link_to 'Back', tournaments_path, class: "btn-up btn btn-primary"
  .col-xs-2= link_to 'Add Games', @tournament.id.to_s + "/games/new", class: "btn-up btn btn-primary"
.void