-if @tournament.nil?
  .row
    %h1.col-xs-12 New game
  .row
    .col-xs-12= render 'form'
  .row
    .col-xs-12= link_to 'Back', games_path
-else
  .row
    %h1.col-xs-12 Add Games to the tournament
  .row
    %h2.col-xs-12= "Current games in " + @tournament.name
  - if @games.nil?
    .row
      %h3.col-xs-12 No games added yet
  .row
    - @games.each do |game|
      %p.game.row
        .col-xs-6= link_to game.name, game
        .col-xs-6= link_to "Delete", tournaments_path + "/" + @tournament.id.to_s + games_path + "/" + game.id.to_s + "/delete", id: "delete_game", class: "btn btn-primary btn-up", style: "margin-left: 20px;text-decoration: none;"
  -if (Game.all - @games).any?
    %hr/
    .row
      .col-xs-4=select_tag "Games", options_from_collection_for_select(Game.all - @games, "id", "name")
      %a.col-xs-3.btn.btn-up.btn-primary#addGame2Tournament Add
  -else
    .row
      .col-sm-5%h3 No more games to add
      .col-sm-3= link_to 'Add Game', new_game_path, class: "btn-up btn btn-primary"
  .row
    .col-sm-3= link_to 'Go back to the tournament', @tournament, class: "btn-up btn btn-primary"