!!!
%html{lang: "en"}
  %head
    %title Tmanager
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %meta{:content => "Gestion de vos tournois de jeux videos", :name => "description"}/
    %meta{:content => "Rem's I.T.", :name => "author"}/
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = favicon_link_tag
  %body#page-top
    %nav#mainNav.navbar.navbar-default.navbar-fixed-top.navbar-custom
      .container
        .navbar-header.page-scroll
          %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            Menu
            %i.fa.fa-bars
          = image_tag "logo/TmanagerWhite.svg", options={:id => "logo", :class => "img-responsive", :alt => "TManager Logo"}
          %a.navbar-brand{:href => "/"} TManager
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          %ul.nav.navbar-nav.navbar-right
            %li= link_to "Games", games_path
            - if can? :index, Match
              %li= link_to "Matches", matches_path
            %li= link_to "Tournaments", tournaments_path
            %li= link_to "Ranking", "/ranking"
            - if can? :index, User
              %li= link_to "Users", users_path
            - if user_signed_in?
              %li.dropdown
                %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                  = image_tag current_user.image.url(:thumb), size: "50x50", class: "profil-pic img-circle"
                  = current_user.username
                  %span.caret
                %ul.dropdown-menu{:role => "menu"}
                  %li= link_to "Profile", current_user
                  %li= link_to 'Settings', edit_user_registration_path
                  %li= link_to 'Log out', destroy_user_session_path, method: :delete
            - else
              %li= link_to 'Log In', new_user_session_path
              %li= link_to 'Sign Up', new_user_registration_path
    .void
    .container
      - flash.each do |key, value|
        %div{:class => "alert alert-#{key}"}
          = value
      - if user_signed_in?
        - if current_user.username.nil?
          .alert.alert-danger Set some username please
    .header
      -if request.env['PATH_INFO'].split("/")[1].nil? && !user_signed_in?
        = render "layouts/header"
    .container#marginn
      .row
        .col-xs-12
          = yield
    .scroll-top.page-scroll.hidden-lg.hidden-md.hidden-sm
      %a.btn.btn-primary{:href => "#page-top"}
        %i.fa.fa-chevron-up
    %footer.text-center
      .footer-below
        .container
          .row
            .col-lg-12
              Copyright © Rem's I.T. 2017
    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-92603316-1', 'auto');
      ga('send', 'pageview');