!!!
%html{lang: "en"}
  %head
    %title Tmanager
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %meta{:content => "Gestion de vos tournois de jeux videos", :name => "description"}/
    %meta{:content => "Rem's I.T.", :name => "author"}/
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = favicon_link_tag
  %body#page-top
    %nav#mainNav.navbar.navbar-default.navbar-fixed-top.navbar-custom
      .container
        .navbar-header.page-scroll
          %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            Menu
            %i.fa.fa-bars
          = image_tag "logo/TmanagerWhite.svg", options={:class => "img-responsive", :alt => "TManager Logo"}
          %a.navbar-brand{:href => "/"} TManager
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          %ul.nav.navbar-nav.navbar-right
            %li= link_to "Games", games_path
            %li= link_to "Tournaments", tournaments_path
            %li= link_to "Users", users_path
            - if user_signed_in?
              %li.dropdown
                %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                  = current_user.username
                  %span.caret
                %ul.dropdown-menu{:role => "menu"}
                  %li= link_to 'Profile', edit_user_registration_path
                  %li= link_to 'Log out', destroy_user_session_path, method: :delete
            - else
              %li= link_to 'Log In', new_user_session_path
              %li= link_to 'Sign Up', new_user_registration_path
    .void
    .container
      - flash.each do |key, value|
        %div{:class => "alert alert-#{key}"}
          = value
    .header
      -if request.env['PATH_INFO'].split("/")[1].nil? && !user_signed_in?
        = render "layouts/header"
    .container#marginn
      .row
        .col-xs-12
          = yield
    .scroll-top.page-scroll.hidden-lg.hidden-md.hidden-sm
      %a.btn.btn-primary{:href => "#page-top"}
        %i.fa.fa-chevron-up
    %footer.text-center
      .footer-below
        .container
          .row
            .col-lg-12
              Copyright © Rem's I.T. 2017